@model IEnumerable<SalesWebMvc.Models.Department>

<h2>Departments</h2>

<p> <a asp-action="Create"> Create new </a> </p>

<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Id) </th>
            <th> @Html.DisplayNameFor(model => model.Name) </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>